p {
    margin: 1em 0 0 0;
}
#ttl, #historyLen {
    width: 2em;
    margin: 0 .1em;
}
fieldset {
    width: 22em;
    margin: 1em 0;
}
fieldset.history p {
    margin: 0;
    float: left;
}
fieldset.history aside {
    font-size: 75%;
    text-align: right;
}
#usersList {
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;
}
.user-name {
    width: 10em;
    margin-right: 1em;
}
.user-id {
    width: 13em;
    margin-right: 1em;
}
#usersJson {
    display: none;
    margin: 1em 0 0 0;
    padding: 0;
    width: 100%;
    height: 10em;
}
